# **Delivery Time Estimation**

#### **Problem**

The business wants to evaluate the Estimated Delivery Time on the basis of
- What they are ordering?
- From Where they are ordering
- The availibilty of Delivery Partners
- etc

I'll explore the data to find hidden stories and since this is a Regression task, I'll use Neural Networks to estimate the same.

In [3]:
# Importing required libraries
import numpy as np
import pandas as pd

In [6]:
# Initiallizing Dataset
df = pd.read_csv("../data/raw/data.csv")

In [7]:
# Investigating Dataset
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,df263d996281d984952c07998dc54358,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0

In [8]:
# Shape of the dataset
df.shape

(197428, 14)

**Observe**
- We have 14 features and almost 200K datapoints
- Data seems to be small